---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import desktopImage from '../../public/images/CarrieRyan.jpg';
import mobileImage from '../../public/images/CarrieRyan_mobile.jpg';
---

<Layout title="Singer-Songwriter from Cleveland, Ohio">
	<main>
		<h1>Carrie Ryan</h1>
		<Image
			src={mobileImage}
			width={mobileImage.width}
			height={mobileImage.height}
			alt="portrait of Carrie Ryan"
			class="portrait portrait--mobile"
			loading="eager"
			quality={'max'}
		/>
		<Image
			src={desktopImage}
			width={desktopImage.width}
			height={desktopImage.height}
			alt="portrait of Carrie Ryan"
			class="portrait portrait--desktop"
			loading="eager"
			quality={'max'}
		/>
	</main>
</Layout>

<style>
	main {
		display: grid;
		grid-template-rows: max-content max-content;
		justify-items: center;
		align-content: center;
	}

	h1 {
		font-size: 4rem;
		letter-spacing: 1.2rem;
		text-transform: uppercase;
		margin: 4rem 0 1.5rem;
		z-index: 2;
	}

	.portrait {
		margin-bottom: 2rem;
	}

	.portrait--desktop {
		display: none;
	}

	@media only screen and (min-width: 767px) {
		.portrait--desktop {
			display: block;
		}

		.portrait--mobile {
			display: none;
		}

		h1 {
			font-size: 6rem;
		}
		/* .portrait {
		} */
	}
	@media only screen and (min-width: 1800px) {
		main {
			height: calc(100vh - 136.5px);
		}

		.portrait {
			width: 200rem;
			height: fit-content;
		}
	}
</style>
